*{
    margin: 0;
    padding: 0;
    font-family:Verdana, ;
    box-sizing: border-box;

}
.footer{
    margin-top: 200px;
    width: 100%;
    height: 650px;
    padding: 100px 5%;
    background-color:white;
    color: black;
    display: flex;
}
.footer div{
    text-align: center;
    font-size: 25px;
}
.col-2{
    flex-grow: 2;
    

}
h2{
    font-size: 70px;
    font-family: 'Times New Roman';
    color:white;
    margin: px;
    padding: 10px;
    text-align: center;
   
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 35px;
    color:gold;
    /* color:crimson; */
  /* text-transform: capitalize; */
}
.col-1 a{   
    display: block;
    text-decoration: none;
    color:black;
    margin-bottom: 10px;
}
form input{
    width: 200px;
    height: 100px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
form button{
    background:white;
    border: 2px solid black;
    color: red;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 25px;
    cursor:pointer;
    margin-right: 400px;
    
    

}

.col-3 p{
    color: black;
    /* margin: 5x; */
    /* padding: 50px; */
    word-spacing:normal;
}
button{
    background-color:hotpink;
    border-radius: 25px;
    padding:10px 30px ;
    font-size: 20px;
    color: black;
    cursor: pointer;
    /* margin: 10px; */
   position: relative;
   margin-left: 600px;
   box-shadow: 2px 2px 2px 2px grey;
   /* margin-bottom: 200px; */
   
} 
button:hover{
   background-color: white; 
}
h5{
    font-family:'Times New Roman', Times;
    text-align: center;
    font-size: 20px;
    color:white;
    /* margin-bottom: 1000px; */
    

}
.logo{
    text-align: center;
    /* height: 100; */
    margin: 40px;
}
p{
    color: black;
    font-size: 14px
}
h6{
    margin: 5px;
    padding: 10px;
    color: blue;
}
.contact{
    margin: 5px;
    padding: 10px;
    color: blue;
}
